@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');
:root{
  --sidebar-flex:1.5;
  --condiv-flex:6;
  --fontsize-p:1.2rem;
  --fontsize-nav:1.6rem;
  --typing-font:3rem;
}
*
{
  margin:0;
  padding: 0;
}
body {
  font-family: 'Raleway';
}

.App {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

nav
{
  display: absolute;
  padding:60px 30px 0px 30px ;
  background: #373a47;;
}

.condiv {
  display: absolute;
  padding: 100px;
  background-color: #f4f5f9;
  flex:var(--condiv-flex);
}

.condivFull {
  padding: 100px;
  background-color: #f4f5f9;
  height: auto;
  width: 100%;

}

.photos {
  width: 80%;
  margin: auto;
  height: 1000px;
  background-color: pink;
}


.home
{
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
.profilepic
{
  border-radius: 10%;
  width: 200px;
  margin: 30px;
}
.typingeffect
{
  font-size: var(--typing-font);
  margin-bottom: 30px;
}

nav ul{
  font-size:var(--fontsize-nav) ;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: white !important;
}
nav ul li
{
  margin:40px;
}

a {
  text-decoration: none;
  color: white;
}

.subtopic
{
  margin:10px 10px 30px 10px !important;
}
p{
  font-size: var(--fontsize-p);
}
h1,h2,h3,h4,p{
  margin: 10px;
}
.social
{
  position: absolute;
  margin-top: 20px;
  display: flex;
  bottom: 60px;
}
.social i
{
  padding-right: 30px;
  font-size: 25px;
  color: #9a9b9c;
}
.social i:hover
{
  color: #ffffff;
}
.widecard
{
  border:0px solid #9a9b9c;
  display: flex;
  margin:30px 0px 30px 0px;
}
.widecard:hover
{
  color: #1b1d20;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.active
{
  font-weight: bolder;
}
.skills ul li
{
  list-style-type:none;
  margin:30px;
}

@media all and (max-width: 450px) {
  :root {
    --fontsize-nav:1rem;
    --sidebar-flex:0;
    --typing-font:2rem;
  }
  .App
  {
    flex-direction: column;
  }
  .sidebar
  {
    padding: 30px;
    background: salmon;
  }
  .condiv
  {
    padding: 50px ;
  }
  nav ul
  {
    display: flex;
  }
  nav ul li
  {
    margin: 10px;
  }
  .social
  {
    left:0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    bottom: 30px;
  }
  .social i
  {
    padding-right: 0px;
  }
}


/* Home Page */
.animated.fadeInDown {
  text-align: center;
}



.w-100 {
  width: 100% !important;
  height: 220px;
}

.link {
  color: #000000 !important;
}


.remove {
  width: 10px;
  height: 10px;
  background-color: orange;
}


.aboutMeSection {
  display: flex;
  justify-content: center;
}
.aboutMeImg {
  justify-content: center;
  text-align: center;
  width: 50%;
  margin-left: 25%;
}

.otherProjects {
  font-size: 20px;
  color: black;
}

#card4 {
  width: 200px !important;
}


/* Burger Menu Styling */

/* Position and sizing of burger button */

#navMenu {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  height: auto;
}


.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}







/* Footer Styles */

.footer {
  width: 100%;
  height: auto;
  background-color: red;
  display: flex;
  flex-direction: row;
}

.footerLeft {
  background-color: pink;
  width:50%;
  height: auto;
  height: 100px;
}

.footer p {
    margin: 0px;
}

.footer ul {
  margin: 0px;
}